.wrapper {
  display: inline-flex;
  padding: 1rem;
  color: #353e44;
  font-family: "Quicksand", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

@media (min-width: 40rem) {
  .wrapper {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .wrapper {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  overflow: hidden;
}

.card_image {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  cursor: pointer;
}
.card_content {
  padding: 20px 20px 15px;
  background: linear-gradient(to bottom left, #e9f6fa 40%, #d2f0fa 100%);
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  zoom: 1;
}

.card_title {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
.card-statistics {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background: linear-gradient(to bottom left, #e9f6fa 40%, #d2f0fa 100%);
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  zoom: 1;
  div {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 17px;
    color: #353e44;
    zoom: 1;
  }
  span {
    padding: 0 3px;
  }
}
